circle.node {
  stroke: #fff;
  cursor: pointer;
}

body {
	background: #FAF498;
	overflow: hidden;
}

#title { 
	color: #FA0000; 
	font-family: 'Rationale', monospace; 
	font-weight: 100; 
	letter-spacing: 0px; 
	font-size: 46px; 
    right:25%;
    left:50%;
    margin-top:0px;
    margin-bottom:0px;
	margin-left: -105px; 
	text-align: center; 
	background: #FAF498 !important; 
	z-index: 500;
}

line.link {
  stroke-opacity: .8;
}

#links {
	font-family: 'Rationale', monospace;
	font-weight: 300;
	position: absolute;
	bottom: 20px;
	left: 20px;
	font-size: 33px;
	line-height: 24px;
}

div#legend {
	position: absolute; 
	bottom: 38%; 
    width:300px;
    right:25%;
    left:50%;
    margin-left:-98px;
	font-family: 'Rationale', monospace;
	font-weight: 300;
	font-size: 16px;
}
#legend div { padding-bottom: 2px; float: left; margin-right: 1em; }
#legend div a { text-decoration: none;}
#legend .flows { border-bottom: 3px solid #FFD000; }
#legend .flows a { color: #361BE3; }

#legend .notwaving { border-bottom: 3px solid #FFAE00; }
#legend .notwaving a { color: #7729C4 }

#legend .timeslides { border-bottom: 3px solid #08CC53; }
#legend .timeslides a { color: #4D13AB }

#legend .something_else { border-bottom: 3px solid #eb4; }

div.project {
	position: absolute; 
	top:90px;
    width:580px;
    right:25%;
    left:50%;
    margin-left:-158px;
	display:inline-block;
}

.project img {
	margin: 0 8px 3px;
}